section.contact {
    background-color: var(--secondary-background);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding: 80px 0;
}
.contact .contact-title {
    color: #fff;
    font-size: 35px;
    font-weight: lighter;
    text-align: center;
    font-family: "Special Gothic Expanded One", sans-serif;
}
.contact .contact-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-container .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 0;
    width: 80%;
  }
.contact-container .info h2 {
    font-weight: lighter;
    color: var(--primary-orange);
}

/* --- LOCAL --- */
.contact-container .local {
    display: flex;
    align-items: center;
    background-color: var(--primary-background);
    width: max-content;
    padding: 7px 12px 7px 5px;
    border-radius: 6px;
    margin-top: 10px;
    transition: 0.2s ease-in;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.contact-container .local:hover p {
    color: var(--primary-orange);
    cursor: pointer;
    transition: 0.2s ease-in;
}
.contact-container .local img {
    width: 35px;
    height: 35px;
    margin-right: 5px;
}

/* --- SOCIAL --- */
.contact-container .social {
    display: flex;
}
.contact-container .social div p {
    align-self: center;
}
.contact-container .social div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: var(--primary-background);
    width: max-content;
    padding: 7px 12px 7px 10px;
    border-radius: 6px;
    margin-right: 10px;
    transition: color 0.2s ease-in;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}
.contact-container .social div .contact-social {
    width: 35px;
    height: 35px;
    margin: 0 8px 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-container .social div .contact-gh {
    background-image: url(../assets/images/icons/github-icon.png);
    transition: background 0.2s ease-in;
}
.contact-container .social div .contact-lin {
    background-image: url(../assets/images/icons/linkedin-icon.png);
    transition: background 0.2s ease-in;
}

/* --- SOCIAL CONTACT HOVER --- */
.contact-container .social div:hover p{
    color: var(--primary-orange);
    transition: color 0.2s ease-in;
}
.contact-container .social div:hover .contact-gh {
    background-image: url(../assets/images/hover-icons/github-hover.png);
    transition: background 0.2s ease-in;
}
.contact-container .social div:hover .contact-lin {
    background-image: url(../assets/images/hover-icons/linkedin-hover.png);
    transition: background 0.2s ease-in;
}

/* --- BOTÃO WHATSAPP --- */
.contact-container .whatsapp-div .whatsapp-button {
  padding: 19px;
  background-color: var(--primary-orange);
  color: #000;
  border: none;
  font-size: 19px;
  margin-top: 20px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.contact-container .whatsapp-div .whatsapp-button:hover {
  background-color: var(--primary-background);
  color: #fff;
  transition: 0.2s ease-in;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  transition:9999s ease-in-out 0s;
  background-color: var(--primary-background) !important;
  color: white;
}

@media (max-width:992px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-container .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        margin-right: 0;
        width: 60%;
    }
}

@media (max-width:768px) {
    .contact-container .info {
        width: 70%;
    }
}

@media (max-width:600px) {
    .contact-container .info {
        width: 80%;
    }
}

@media (max-width:480px) {
    .contact-container .info {
        width: 90%;
    }
}

@media (max-width: 414px) {
    .contact-container .info {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .contact .contact-title {
        font-size: 30px;
    }
}
